<%- include('./includes/head.ejs') %>
</head>
<body>
<%- include('./includes/nav.ejs') %>
<!-- <section id="projects-hero-carousel">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item">
      <div class="container">
        <a class="btn waves-effect deep-purple lighten-2" href="http://github.com/ryan-k8/devshowcase" target="_blank"><i class="material-icons tooltipped" data-tooltip="source code">cloud</i></a>
      </div>
    </div>
    <div class="carousel-item amber darken-2 white-text" href="#two!">
      <div class="container">
        <h2>Second Slide</h2>
        <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
      </div>  
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <div class="container">
        <h2>Third Slide</h2>
        <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
      </div>  
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <div class="container">
        <h2>Fourth Slide</h2>
        <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
      </div>  
    </div>
  </div>
  </section> -->

<%-include ('./includes/end.ejs') %>


