<%- include('./includes/head.ejs') %>
</head>
<body>
<%- include('./includes/nav.ejs') %>
<!-- <section id='profile-section' class='my-2 p-1' style="height: 900px;">
    <div class="container ">
        <div class="row" class='z-depth-1'>
            <div class="col s12 m4 l4 xl3 user-profile-page-left z-depth-1">
                <div class="user-profile-info p-1">
                    <div class="img-holder">
                        <img src="https://avatars.githubusercontent.com/u/75524300?v=4" alt="" class="circle user-github-img z-depth-1">
                    </div>
                    <div class="text-info">
                        <p class='real__name poppins-text'>Ryan K.</p>
                        <p  class="login__name ">ryan-k8 <i class="d-icon devicon-github-original"></i></p>
                        <div class="__bio poppins-text">
                            <p>Upcoming Computer Science Freshman with interests in web technologies!</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div>
                            <div class='p-1'>
                                <a href="#" class="btn left deep-purple lighten-2 tooltipped" data-tooltip="edit profile"><i class="material-icons">edit</i></a>
                            </div>
                            <div class="p-1">
                                <a href="#" class="btn right deep-purple lighten-2 tooltipped" data-tooltip="views projects"><i class="material-icons">visibility</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m8 l8 xl9 user-profile-page-right z-depth-1">
                <div class="user-detailed-info p-1">
                    <h5 class='text-header align-center'>About Me
                         <div class="divider"></div>
                    </h5>
                    <div class="user-about-me-text">
                        🎉 im the best eva
                    </div>

                    <h5 class='text-header align-center'>Tech Stack
                        <div class="divider"></div>
                   </h5>
                   <div class="user-tech-stack-div">
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                       <img  class="tech-stack-img"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />                    
                    
                   </div>
                   <h5 class='text-header align-center'>Recent Projects<div class="divider"></div>
                   </h5>
                   <div class="user-recent-projects">
                       <div class="row">
                           <div class="col project s12 m6 l6 xl4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img class="activator" src="toka.png">
                                </div>
                                <div class="card-content">
                                  <span class="card-title activator grey-text text-darken-4">Toka<i class="material-icons right">more_vert</i></span>
                                  <p><a href="#">View</a></p>
                                </div>
                                <div class="card-reveal">
                                  <span class="card-title grey-text text-darken-4">Toka<i class="material-icons right">close</i></span>
                                  <p>
                                    🌸 vanilla js app for anime based on state pattern and mvc design. CI/CD with Netlify. up for hacktoberfest2021</p>
                                </div>
                              </div>   
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section id="profile-edit-section" class="m-2 p-1">
<div class="container p-1 z-depth-1">
        
   <div class="row">
    <form class="col s12" id='edit-profile-form'>
      <div class="row">
        <div class="input-field col s6">
          <input name='real-name' value='Ryan K.' id="real-name" type="text" class="validate">
          <label for="real-name">Name</label>
        </div>
        <div class="input-field col s6">
          <input name='user-name' value='ryan-k8' id="user-name" type="text" class="validate">
          <label for="user-name">UserName</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name='email' disabled value="ryan.khursheedps@gmail.com" id="disabled" type="email">
          <label for="disabled">Email (not editable)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea name='about-me-text' id="about_me_textArea" class="materialize-textarea" data-length='250'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odit similique tenetur, at mollitia quaerat animi blanditiis quis aperiam eaque doloremque placeat quae soluta accusantium illo aspernatur non optio minima?
            </textarea>
            <label for="about_me_textArea">About Me</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <p class="text-header grey-text text-darken-3">Tech Stack</p>
            <div name='tech-stack-chips' id='tech-stack-chips' class="chips chips-initial chips-autocomplete"></div>
        </div>
      </div>
      <div class="form-submit-div">
        <button id='form-submit' class="btn deep-purple lighten-1 waves-effect waves-light" type="submit">Update
            <i class="material-icons right">update</i>
          </button>
      </div>
            
    </form>
  </div>
 </div>
</section> -->

<script>

  $('.chips-autocomplete').chips({
    data: [{
      tag: 'react',
    }, {
      tag: 'typescript',
    }, {
      tag: 'nodejs',
    }],
    autocompleteOptions: {
      data: {
        'go': null,
        'graphql': null,
        'python': null
      },
      limit: 12,
      minLength: 1
    }
  });
  document.getElementById('edit-profile-form').addEventListener('submit',async (e) => {
      e.preventDefault();
      const realName = document.querySelector('#real-name').value.trim();
      const userName = document.querySelector('#user-name').value.trim();
      const aboutMeText = document.querySelector('#about_me_textArea').value.trim();
      const techStackData = document.querySelector('.chips-autocomplete').M_Chips.chipsData;

      const body = {
          realName: realName,
          userName:userName,
          aboutMe:aboutMeText,
          techStack:JSON.stringify(techStackData),
      }
      try {


        if (realName =='' || userName =='' || aboutMeText=='' || techStackData.length < 1 ) {
          throw new Error('please enter values for all the fields :/');
        }
        const response = await fetch('http://localhost:3000/edit-profile',{
            method:'POST',
            body:JSON.stringify(body),
            headers: {
                'Content-Type':'application/json',
            }
       });
       if (response.status==500 || response.status==403) {
           const serverError = await response.json();
           throw new Error(`server error :${serverError.message}`);
       }
       
        if (response.redirected && response.url) {
            window.location.href=response.url;
        }

      } catch (err) {
          M.toast({html:err.message});
      }

    });

</script>

<%-include ('./includes/end.ejs') %>
