@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
@import "./utlities";

.modal-content__search {
  padding: 0 !important;
}
.icon-dark {
  color: #212121 !important;
}

.modal-content__search {
  padding: 0 !important;
}

.d-icon {
  color: #212121;
}

.user-profile-page {
  &-left {
    transition: all 0.25s ease-out;

    .user-profile-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .img-holder {
        width: 80%;
        > img {
          height: 95%;
          width: 90%;
          margin: 0 auto;
          transition: all 0.25s ease;

          &:hover {
            transform: translateY(-2.5px);
          }
        }
      }

      .text-info {
        width: 100%;

        margin: 0.5rem 0 !important;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .real__name {
          font-size: 2rem;
          font-style: italic;
          margin: 0 0.25rem;
        }
        .login__name {
          font-size: 0.85rem;
          color: rgb(177, 177, 177);
          transform: translateY(-0.2rem);
        }
        .__bio {
          width: 100%;
          padding: 0.4rem;
          margin-top: 0.3rem;
          border-radius: 5px;
          background: rgb(248, 248, 252);
          border: 1px solid rgb(192, 192, 192);

          p {
            font-size: 1rem;
            color: rgb(110, 110, 110);
          }
        }
      }

      .actions {
        > div {
          display: flex;
          justify-content: space-around;
          width: 100%;

          a {
            display: block !important;
          }
        }
      }
    }
  }

  &-right {
    .user-detailed-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .user-about-me-text {
        padding: 0.25rem;
        text-align: center;
        line-break: auto;
        font-size: 1.1rem;
        font-family: "Poppins";
      }

      .text-header {
        text-align: center;
        font-size: 1.3rem;
        font-family: "Poppins";
      }

      .user-tech-stack-div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.5rem;
        gap: 0.5rem;
        .tech-stack-img {
          display: inline-block;
          width: 3.2rem;
        }
      }

      .user-recent-projects {
        .row {
          .project {
            transition: all 0.25s ease-in-out;

            .card-title {
              font-size: 1.25rem;
              font-family: "Roboto";
            }

            &:hover {
              transform: translate3d(0px, -2px, -2px);
            }
          }
        }
      }
    }
  }
}

#profile-edit-section {
  .form-submit-div {
    display: flex;
    justify-content: center;
  }
}

#edit-project {
  .image-del {
    &-div {
      padding: 10px !important;
    }

    &-btn {
      transition: all 0.2s ease-out;
      transform: translateY(-7px);
      &:hover {
        color: crimson;
        transform: translateY(-7px) scale(1.1);
      }
    }
  }
}

#projects-search-section {
  margin: 0.8rem auto;
  padding: 1rem;

  .search-bar {
    .project-search-field {
      position: relative;
      border-radius: 50px;
      padding: 0.25rem;

      #search {
        border-bottom: none !important;
        padding-left: 4rem !important;
        height: 40px;
        width: calc(100% - 4rem);
        border: none;
        transition: background-color 5000s ease-in-out 0s !important;

        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

        &:active {
          background-color: transparent;
        }
      }

      .label-icon {
        left: 1rem;
      }
    }
  }
}

#user-projects-section {
  margin: 0.8rem auto;
  padding: 1rem;

  .round-user-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1.2rem;
    align-items: center;
    padding: 1rem 0.75rem;
    border-radius: 45px;
    min-height: 4.5rem;

    > div {
      img {
        max-width: 3rem;
        height: 90%;
      }
    }
    .user-info {
      font-size: 1.2rem !important;

      .a {
        cursor: pointer;
      }
    }
  }
}

#project-section {
  .project-user {
    &-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.2rem !important;

      > div {
        width: 80%;
        margin: 0 auto;
        img {
          height: 100%;

          width: 95%;
          margin: 0 auto;
        }

        ~ div {
          > p {
            text-align: center;
            font-size: 1.2rem;
          }

          .auth-user-actions {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            justify-content: center;
          }
        }
      }
    }
  }

  .project-detailed-div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .links-div {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: center;
    }

    .project-tech-stack-div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding: 0.5rem;
      gap: 0.5rem;
      .tech-stack-img {
        display: inline-block;
        width: 3.2rem;
      }
    }

    .project-description-text {
      font-size: 1.1rem;
      text-align: center;
    }
  }

  .comment-section {
    ::-webkit-scrollbar {
      width: 8px;
      height: 5px;
    }

    ::-webkit-scrollbar-button {
      height: 12px;
    }

    /* track along which it moves */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* handle/scrollbar itself */
    ::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 6px;
      transition: all 0.5s ease;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(126, 126, 126);
    }

    ::-webkit-scrollbar-thumb:focus {
      background: rgb(126, 126, 126);
    }

    .comments-show-div {
      display: flex;
      justify-content: center;
    }

    .comments-box {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.2rem;

      width: 100%;
      // min-height: 300px;
      max-height: 400px;
      overflow-y: auto;

      .user-comment-div {
        width: 100%;

        .user-pfp {
          > img {
            max-height: 50px;
            border-radius: 50%;
          }
        }

        span {
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            color: #7e57c2;
          }
        }
      }
    }

    .comment {
      width: 100%;

      .user-pfp {
        > img {
          max-height: 50px;
          border-radius: 50%;
        }
      }
      .user-comment {
        display: flex;
        flex-direction: column;
        transform: translateX(0.45rem);
      }

      span {
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          color: crimson;
          transform: scale(1.2) !important;
        }
      }
    }
  }
}

@import "./media";
